* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei';
}

icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: sub;
    background-repeat: no-repeat;
    background-image: url(http://s1.hdslb.com/bfs/static/phoenix/home/static/img/icons.afbff55.png);
}

header{
    color: #222222;
    position: relative;
    z-index: 10000;  
}
header nav {
    height: 42px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    z-index: 10000;
    color: #222222;
    background-color: transparent;
}

header nav .mask-wrap {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
}

header nav .mask-wrap .blur-mask {
    padding: 0 20px;
    position: absolute;
    top: -10px;
    left: -20px;
    width: 100%;
    height: 62px;
    filter: blur(5px);
    background-image: url(http://i0.hdslb.com/bfs/archive/17759bd2d61eb97e992642f79a15ddabd015d0dc.png@.webp);
    background-position: center 0px;
    z-index: 50;
}
header nav .mask-wrap .color-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

/****z-header****/

nav > .z-header {
    height: 42px;
    text-align: center;
    font-size: 10px;
    line-height: 42px;
}
nav>.z-header>.menu,
nav>.z-header>.user {
    position: absolute;
    top: 0;
    display: inline-block;
    height: 48px;
    
    z-index: 1000;
}
nav >.z-header>.menu {
    width: 426px;
    left: 182px;
}
nav >.z-header>.user {
    right: 0;
    width: 400px;
}
nav > .z-header > .menu .home {
    display: inline-block;
    padding-left: 32px;
    background-repeat: no-repeat;
    background-image: url(http://s1.hdslb.com/bfs/static/phoenix/home/static/img/icons.afbff55.png);
    background-position: -847px -74px;
}
header li {
    float: left;
    padding: 0 11px;
    cursor: pointer;
}
header a {
    color: #fff;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
nav>.z-header>.user li:first-child::after {
    position: relative;
    left: 10px;
    content: '';
    height: 12px;
    border-right: 1px solid #fff;
}
nav>.z-header>.user .sub {
    margin-left: 10px;
}
nav>.z-header>.user li:last-child {
    padding: 0px;
}
nav>.z-header>.user li:last-child a {
    display: block;
    z-index: 10;
    width: 58px;
    height: 48px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAAAwBAMAAACyDnR9AAAAMFBMVEXUUnzWUn3WUn3VUnzVUnzVUn3UUnzUUnzaU4DfVYTuW4zxXI3VUn3qWYjmWIfkV4UXsS1iAAAACHRSTlMB99aQK5W8mPW6JqwAAACVSURBVDjLxcuhDUJBEEXRa2gAhcVRABKHRVAIghZAISgAFH4mNDArIQRBBSSUAC3wfwG7z2x+9uxmzM0jKe2qR0qe/06K5B6RvYG5hXn/LHMxYch6VXibeHyUqvpV0NufUlX/SlU9K1wUvW1WDwonRW+b1afCREx3zI5lexavshsrUe+MRF3DphgfIMZbgOU028Zz6AD+Td5T0E5DWAAAAABJRU5ErkJggg==) center center no-repeat;
    border-radius: 0 0 5px 5px;
}

nav > .z-header li:hover {
    background-color: rgba(255,255,255,0.2);
    transform: all 0.5s;
}
nav > .z-header .game:hover .div_game {
    display: block;
}
nav > .z-header .life:hover .life-box {
    display: block;
}
nav > .z-header .phone:hover .phone-box {
    display: block;
}
nav > .z-header .war:hover .war-box {
    display: block;
}
nav > .z-header .user .sub:hover .upload {
    display: block;
}
/***serch-wrap*****/
.search-wrap {
    position: relative;
    height: 170px;
    background: transparent no-repeat center -10px;
    position: relative;
    margin: -42px auto 0;
    background-image: url(http://i0.hdslb.com/bfs/archive/17759bd2d61eb97e992642f79a15ddabd015d0dc.png@.webp);
}
.search-wrap img {
    position: absolute;
    top: 56px;
    left: 216px;
}
.search-wrap .search {
    position: absolute;
    top: 58px;
    right: 99px;
    height: 32px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.88);
    outline: none;
}
.search-wrap a {
    position: absolute;
    top: 116px;
    right: 466px;
    border-radius: 4px;
    font-size: 10px;
    color: #F35D8E;
    background-color: rgba(255,255,255,0.88);
}
.search-wrap a:hover, .search-wrap .search input:hover{
    background-color: #fff;
}
.search-wrap a span {
    display: inline-block;
    padding: 8px 6px;
    padding-left: 26px;
    background-repeat: no-repeat;
    background-position: -659px -655px;
    background-image: url(http://s1.hdslb.com/bfs/static/phoenix/home/static/img/icons.afbff55.png);
}

.search-wrap .search input {
    width: 250px;
    padding: 0 8px;
    box-shadow: 1px -1px 1px 1px rgba(0,0,0,0.15); 
}
.search-wrap .search .submit {
    position: absolute;
    top: 58px;
    right: 98px;

    display: inline-block;
    width: 48px;
    height: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: -653px -720px;
    background-image: url(http://s1.hdslb.com/bfs/static/phoenix/home/static/img/icons.afbff55.png);
} 
/*****content*****/
.content {
    width: 980px;
    margin: 0 auto;
}
/****menu****/
menu > ul {
    display: inline-block;
    max-width: 904px;
    margin: 0;
}
menu > ul > li {
    float: left;
    position: relative;
    margin: 10px;
    padding-top: 20px;
}
menu > ul >li .num {
    position: absolute;
    top: 3px;
    width: 28px;
    color: #fff;
    background: #ffafc9;
    border-radius: 4px;
    line-height: 14px;
    text-align: center;
}
menu > ul > li span {
    display: inline-block;
    padding: 1px 3px;
    font-size: 12px;
    font-family: Calibri,Arial,Helvetica,sans-serifsans-serif;
}
menu > ul > .home {
    margin-left: 0;
    background: url(http://s1.hdslb.com/bfs/static/phoenix/home/static/img/icons.afbff55.png) -658px -1173px no-repeat;
}
menu > ul > li a {
    color: #000;
    font-size: 14px;
}
#icon {
    background-image: url(http://s1.hdslb.com/bfs/static/phoenix/home/static/img/icons.afbff55.png);
    background-repeat: no-repeat;
}
menu > ul > .iconfont {
    position: relative;
    margin-bottom: 0;
    padding: 0 0 0 23px;
    line-height: 50px;
    height: 50px;
}
menu > ul > .icon-square {
    background-position: -664px -904px;
}
menu > ul > .icon-life {
    background-position: -664px -518px;
}
menu > ul > .icon-blackroom {
    background-position: -725px -519px;
}
menu > ul > .iconfont a {
    font-size: 16px;
}
menu > a {
    float: right;
    margin: 10px 0;
}

menu > ul >li .nav-detail {
    position: absolute;
    top: 48px;
    left: 0;
    width: 130px;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    background: #fff;
    opacity: 0;
}

menu > ul > li > .icon-detail > .nav-detail {
    top: 0;
    width: 100px;
}
menu > ul >li .nav-detail .detail-items {
    width: 100%;
    height: 30px;
    text-align: left;
    transition: all .2s;
    white-space: nowrap;
    cursor: pointer;
}
menu > ul >li .nav-detail .detail-items span {
    display: inline-block;
    position: relative;
    color: #222;
    line-height: 30px;
    font-family: 'Microsoft Yahei';
    padding-left: 25px;
    background: url(http://s1.hdslb.com/bfs/static/phoenix/home/static/img/icons2.324edea.png) no-repeat 12px -1612px;
}
@keyframes slidein {
    from {
        right: -80px;
    }
    to {
        right: -18px;
    }
}
menu > ul >li .nav-detail .detail-items .arrow {
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: 6px;
    right: -18px;
    background: url(http://s1.hdslb.com/bfs/static/phoenix/home/static/img/icons2.324edea.png) no-repeat 0 -1581px;
    width: 15px;
    height: 18px;
    transition: all .2s;
}
menu > ul >li .nav-detail .detail-items:hover {
    background-color: #e5e9ef;
}
menu > ul >li:hover .nav-detail {
    z-index: 100;
    opacity: 1;
}
menu > ul >li .nav-detail .detail-items:hover .arrow {
    opacity: 1;
    animation-duration: .3s;
    animation-name: slidein;
}
menu > ul > #icon .icon-detail {
    opacity: 0;
    z-index: -100;
    position: absolute;  
    left: 0;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    border-radius: 0 0 4px 4px;
}
menu > ul > #icon > .square-detail {
    top: 48px;
    width: 387px;
    height: 188px;
    padding: 20px 0;
}   
menu > ul > .icon-life > .life-detail {
    top: 35px;
    width: 350px;
    height: 270px;
    padding-bottom: 10px;
}
menu > ul > .icon-life > .life-detail ul {
    width: 100px;
    box-shadow: none;
}
menu > ul > .icon-life > .life-detail ul li {
    position: relative;
    padding: 0;
    margin: 0;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
menu > ul > .icon-life > .life-detail > .imgs {
    position: absolute;
    top: 0;
    right: 19px;
    width: 210px;
    height: 250px;
    margin: 10px 0;
    padding-left: 20px;
    border-left: 1px solid #e5e9ef;
    cursor: pointer;
}
menu > ul > .icon-life > .life-detail > .nav-detail > li:hover {
    padding-left: 4px;
}
menu > ul > .icon-life > .life-detail > .nav-detail > li:hover .arrow {
    right: 6px;
}
menu > ul > #icon .square-detail ul {
    width: 107px;
    margin-top: -15px;
}
menu > ul > #icon .square-detail ul li {
    margin-top: 8px;
    padding-left: 17px;
    line-height: 24px;
    height: 24px;
    cursor: pointer;
}
menu > ul > #icon .icon-detail ul li span {
    font-family: 'Microsoft Yahei';
    font-size: 12px;
    color: #222;
}
menu > ul > #icon .icon-detail ul li:hover {
    background-color: #e5e9ef;
}
menu > ul > #icon .square-detail ul li:hover icon{
    margin-left: 4px;
    transition: all .3s;
}
menu > ul > #icon .icon-detail ul .activity {
    background-position: -280px -1173px;
}
menu > ul > #icon .icon-detail ul .game {
    background-position: -279px -1234px;
}
menu > ul > #icon .icon-detail ul .news {
    background-position: -344px -1171px;
}
menu > ul > #icon .icon-detail ul .pic {
    background-position: -280px -1363px;
}
menu > ul > #icon .icon-detail ul .mango {
    background-position: -280px -1428px;
}
menu > ul > #icon .square-detail .imgs {
    position: absolute;
    top: 20px;
    right: 0;
    width: 240px;
    height: 188px;
    padding: 0 20px;
    border-left: 1px solid #e5e9ef;
    cursor: pointer;
}
menu > ul > #icon .icon-detail .imgs img {
    border-radius: 4px;
}
menu > ul > #icon:hover .icon-detail {
    z-index: 100;
    opacity: 1;
} 

/****hit*****/
.hit {
    position: relative;
}
.hit .views-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 540px;
    height: 220px;
}
.hit .views-top .panel {
    float: left;
    position: relative;
    margin: 0 0 20px 20px;
    width: 160px;
    height: 100px;
    overflow: hidden;
    border-radius: 4px;
}
.hit .views-top .panel .card-mark {
    position: absolute;
    top: 68px;
    left: 0;
    width: 150px;
    height: 20px;
    padding: 10px 5px;
    overflow: hidden;
    background: linear-gradient(transparent,rgba(0,0,0,.1) 20%,rgba(0,0,0,.2) 35%,rgba(0,0,0,.6) 65%,rgba(0,0,0,.9));
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}
.hit .views-top .panel .card-mark .title {
    overflow: hidden;
    height: 40px;
    margin-bottom: 5px;
}
.hit .views-top .panel .card-mark p:not(.title) {
    color: #99a2aa;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    transition: all .6s;
}
.watch-later {
    display: none;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 6px;
    bottom: 4px;
    cursor: pointer;
    background-image: url(http://s1.hdslb.com/bfs/static/phoenix/home/static/img/watchlater-1.9f7609f.png);
}
.hit .views-top .btn {
    opacity: 0;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    background-color: rgba(0,0,0,.6);
    background-image: url(http://s1.hdslb.com/bfs/static/phoenix/home/static/img/icons2.324edea.png);
    background-repeat: no-repeat;
    width: 20px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
}
.hit .views-top .yesterday {
    left: 20px;
    padding: 13px 5px 13px 10px;
    background-position: 6px -1211px;
}
.hit .views-top .week {
    right: 0;
    padding: 13px 10px 13px 5px;
    background-position: 25px -1262px;
}
.hit .views-top .panel:hover .card-mark {
    top: 0;
    height: 100px;
    background: rgba(0,0,0,0.7);
}
.hit .views-top .panel:hover .watch-later {
    display: block;
}
.hit .views-top:hover .btn {
    opacity: 1;
}

/****推广****/
.ad {
    margin: 20px 0;
    position: relative;
}
.ad .title {
    position: relative;
    margin-bottom: 15px;
}
.ad .title icon {
    vertical-align: sub;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-position: -141px -75px;
}
.ad .title span {
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}
.ad .title a {
    position: absolute;
    top: 18px;
    left: 115px;
    margin-left: 10px;
    font-size: 12px;
    color: #6d757a;
}
.ad .title a:hover {
    color: #00a1d6;
}
.ad .video-ct {
    width: 720px;
    float: left;
}
.video {
    position: relative;
    width: 160px;
    height: 100px;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
}
.video .mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: all .3s;
}
.video img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
}
.video span {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #fff;
    font-size: 12px;
    opacity: 0;
}
.video .watch-later {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: block;
    opacity: 0;
}
.ad .video-ct li .watch-later {
    display: block;
}

.video a {
    display: block;
    font-size: 12px;
    color: #222;
    height: 40px;
    line-height: 20px;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    transition: all .2s linear;
}
.video:hover .mask{
    background: rgba(0,0,0,.2);
}
.video:hover span,.video:hover .watch-later {
    opacity: 1;
}
.video:hover a {
    color: #00a1d6;
}
.ad .con {
    width: 260px;
    position: absolute;
    top: 10px;
    right: 0;
}
.ad .con img {
    border-radius: 4px;
}
.ad .con .online {
    height: 34px;
    border-radius: 4px;
    text-align: center;
    background: #e5e9ef;
    white-space: nowrap;
    margin-bottom: 10px;
}
.ad .con .online a {
    color: #6d757a;
    font-size: 12px;
    line-height: 34px;
}
.ad .con .online span {
    display: inline-block;
    height: 10px;
    border-left: 1px solid #b8c0cc;
    line-height: 10px;
    margin: 12px 15px 0;
}
