.carousel-module {
    position: relative;
    width: 260px;
    height: 248px;
    overflow: hidden;
    cursor: pointer;
}

.carousel-module .pic {
    position: absolute;
    width: 1300px;
    height: 248px;
}
.carousel-module .pic li {
    float: left;
}

.carousel-module .pic li img {
    width: 260px;
    height: 248px;
    border-radius: 4px;
}
.carousel-module .info {
    position: absolute;
    bottom: 24px;
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,.5);
}
.carousel-module .info li {
    position: absolute;
    bottom: -2px;
    opacity: 0;
    z-index: -1;
    transition: all .3s;
}
.carousel-module .info li a {
    margin-left: 10px;
    color: #fff;
    text-align: left;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.carousel-module .info li.active {
    opacity: 1;
    z-index: 10;
}
.carousel-module .trig {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 0 0 4px 4px;
    background: rgba(0,0,0,.7);
}
.carousel-module .trig span {
    display: inline-block;
    height: 6px;
    width: 10px;
    margin-right: 8px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s;
}
.carousel-module .trig span.on {
    width: 30px;
    background-color: #f45d8f;
}